__pycache__/settings.cpython-310.pyc
images/black_ship.bmp
images/blue_black_ship.bmp
images/circular_ship.bmp
images/red_ship.bmp
images/red_white_ship.bmp
__pycache__/ship.cpython-310.pyc
images/red_white_ship (2).bmp
.gitignore.txt
.gitignore.txt
__pycache__/alien.cpython-310.pyc
__pycache__/game_stats.cpython-310.pyc
__pycache__/alien.cpython-310.pyc
